
body{
  font-family: "Montserrat";
}

#title{
  background-color: #ff4c68;
  color: #fff;
}

h1{
  font-family: 'Montserrat', sans-serif;
  font-size: 3.5rem;
  line-height: 1.5;
}

h2{
  color:black;
  font-size: 3rem;
  line-height: 1.5;
}
h3{
  font-family: "Montserrat";
  font-size: 1.5rem;
}

p{
  color: #8f8f8f;
}
.container-fluid{
  padding: 3% 15% 7%;
}

/* Nav bar */

.navbar{
  padding-bottom: 4.5rem;
}

.nav-item{
  padding: 0 18px;
}
.nav-link{
  font-family: "Montserrat";
  font-size: 1.2rem;
  font-weight:lighter;
}
.navbar-brand{
  font-family: 'Ubuntu', sans-serif;
  font-size: 2.5rem;
  font-weight: bold;
}


/* buttons */
.download-but{
  margin:5% 3% 5% 0;
}

/* title image */
.title-img{
  width: 60%;
  transform: rotate(25deg);
  position: absolute;
  right: 30%;
}



#features{
  padding: 7% 15%;
  background-color: #fff;
  position: relative;
  z-index: 1;
}

.feature-box{
  text-align: center;
  padding: 3%;
}


.icon{
  color: #ef8172;
  margin-bottom: 1rem;
}

.icon:hover{
  color: #ff4c68;
}

#testimonials{
  text-align: center;
  background-color: #ff4c68;
}
.testimonial-img{
  width: 10%;
  border-radius: 100%;
  margin: 20px;
}

.carousel-item{
  padding: 7% 15%;
}
#press{
  background-color: #ff4c68;
  text-align: center;
}

.press-img{
  width:15%;
  margin: 20px 20px 50px;
}


/* Pricing section */
#pricing{
  padding: 100px;
  text-align: center;
}

.pricing-col {
  padding: 3% 2%;
}


@media (max-width:1028px) {
  #title{
    text-align: center;
  }
  .title-img{
    position: static;
    transform: rotate(0);
  }
}

#cta{
  background-color: #ff4c68;
  color: white;
  padding: 7% 15%;
}
.call-to-action{
  text-align: center;
  font-size: 3.5rem;
  line-height: 1.5;
}

.footer{
  text-align: center;
  padding: 5% 7%;
}

.social-icon{
  margin: 20px 10px;
}
